[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/MoltenVK"]
	path = lib/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK
[submodule "lib/chaos"]
	path = lib/chaos
	url = https://github.com/Zalrioth/chaos
[submodule "lib/algorithms-in-c"]
	path = lib/algorithms-in-c
	url = https://github.com/Zalrioth/algorithms-in-c
[submodule "lib/data-structures-in-c"]
	path = lib/data-structures-in-c
	url = https://github.com/Zalrioth/data-structures-in-c
[submodule "lib/multithreading-in-c"]
	path = lib/multithreading-in-c
	url = https://github.com/Zalrioth/multithreading-in-c
[submodule "lib/noise-in-c-and-glsl"]
	path = lib/noise-in-c-and-glsl
	url = https://github.com/Zalrioth/noise-in-c-and-glsl
[submodule "lib/transvoxel-in-c"]
	path = lib/transvoxel-in-c
	url = https://github.com/Zalrioth/transvoxel-in-c
