[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/MoltenVK"]
	path = lib/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK
[submodule "lib/cstorage"]
	path = lib/cstorage
	url = https://github.com/Zalrioth/cstorage
[submodule "lib/cnoise"]
	path = lib/cnoise
	url = https://github.com/Zalrioth/cnoise
[submodule "lib/chaos"]
	path = lib/chaos
	url = https://github.com/Zalrioth/chaos
[submodule "lib/tinycthread"]
	path = lib/tinycthread
	url = https://github.com/tinycthread/tinycthread
[submodule "lib/mimalloc"]
	path = lib/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/tiny-regex-c"]
	path = lib/tiny-regex-c
	url = https://github.com/kokke/tiny-regex-c
