[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/MoltenVK"]
	path = lib/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK
[submodule "lib/cstorage"]
	path = lib/cstorage
	url = https://github.com/Zalrioth/cstorage
[submodule "lib/cnoise"]
	path = lib/cnoise
	url = https://github.com/Zalrioth/cnoise
[submodule "lib/chaos"]
	path = lib/chaos
	url = https://github.com/Zalrioth/chaos
[submodule "lib/mimalloc"]
	path = lib/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/cthreads"]
	path = lib/cthreads
	url = https://github.com/Zalrioth/cthreads
[submodule "lib/Vulkan-Headers"]
	path = lib/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "lib/Vulkan-Loader"]
	path = lib/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
